@media only screen and (max-width: 1099px) {
	.top {
		position: absolute;
		top: 0px;
		left: 0;
		height: 50%;
		width: 100%;
		background-image: url("constitution.png");
		background-size: 100%;
	}

	.top .words {
		position: absolute;
		top: calc(50% - 40px);
		left: 0;
		width: calc(100% - 120px);
		text-align: center;
		font-size: 80px;
		font-weight: 900;
		font-family: Rubik, Arial, sans-serif;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
		color: white;
	}

	.body {
		position: absolute;
		top: calc(50% + 30px);
		left: 10%;
		width: calc(80% - 120px);
		padding-bottom: 40px;
	}

	.title {
		padding-top: 20px;
		text-align: center;
		text-decoration: underline;
		font-size: 4.8vw;
		font-weight: 700;
		color: rgb(50, 150, 50);
	}

	.text {
		padding-top: 10px;
		text-align: left;
		font-size: 1.9vw;
		line-height: 200%;
	}

	.indent {
		text-indent: 2em;
	}

	.arttitle {
		padding-top: 20px;
		text-align: center;
		font-size: 50px;
		font-weight: bold;
	}

	.sect {
		padding-top: 10px;
		text-align: left;
		font-size: 30px;
		font-weight: 500;
		text-decoration: underline;
		color: rgb(50, 120, 50);
	}

	.gap {
		font-size: 35px;
		padding-top: 20px;
	}
}

@media only screen and (min-width: 1100px) {
	.top {
		position: absolute;
		top: 0px;
		left: 0;
		height: 50%;
		width: 100%;
		background-image: url("constitution2.png");
		background-size: 100%;
	}

	.top .words {
		position: absolute;
		top: calc(50% - 40px);
		left: 0;
		width: calc(100% - 150px);
		text-align: center;
		font-size: 80px;
		font-weight: 900;
		font-family: Rubik, Arial, sans-serif;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
		color: white;
	}

	.body {
		position: absolute;
		top: calc(50% + 30px);
		left: 10%;
		width: calc(80% - 150px);
		padding-bottom: 40px;
	}

	.title {
		padding-top: 20px;
		text-align: center;
		text-decoration: underline;
		font-size: 50px;
		font-weight: 700;
		color: rgb(50, 150, 50);
	}

	.text {
		padding-top: 10px;
		text-align: left;
		font-size: 22px;
		line-height: 200%;
	}

	.indent {
		text-indent: 2em;
	}

	.arttitle {
		padding-top: 20px;
		text-align: center;
		font-size: 50px;
		font-weight: bold;
	}

	.sect {
		padding-top: 10px;
		text-align: left;
		font-size: 30px;
		font-weight: 500;
		text-decoration: underline;
		color: rgb(50, 120, 50);
	}

	.gap {
		font-size: 35px;
		padding-top: 20px;
	}
}