@media only screen and (min-width: 768px) {
	.title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.title .top {
		position: absolute;
		top: 50px;
		left: 0px;
		width: calc(100% - 120px);
		font-family: Rubik, Arial, sans-serif;
	}
}

@media only screen and (min-width: 1100px) {
	.title {
		position: absolute;
		top: 0px;
		left: 0;
		height: 50%;
		width: 100%;
		background-image: url("sunrise.png");
		background-size: 100%;
	}

	.title .top {
		position: absolute;
		top: calc(50% - 40px);
		left: 0;
		width: calc(100% - 150px);
		text-align: center;
		font-size: 80px;
		font-weight: 900;
		font-family: Rubik, Arial, sans-serif;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
		color: white;
	}
}